body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 100vh;
  background-color: #2C5F2D;
  color: #F1E4C3;
  font-family: 'Arial', sans-serif;
}

header {
  flex: 0 0 80px;
  background-color: #A67B5B;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight:bold;
  color: #F1E4C3 !important;
}

.navbar-nav .nav-link {
  color: #F1E4C3 !important;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #97BC62FF !important; /* Olive Green */
}

main {
  flex: 1;
  height: calc(100vh-110px);
  overflow-y: auto; 
  background-color: #3E7520;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #F1E4C3;
}

.input-group-text {
  background-color: #A67B5B; /* Warm Brown */
  color: #F1E4C3;
}

input {
  background-color: #F1E4C3;
  color: #2C5F2D;
  border: 2px solid #A67B5B;
  padding: 8px;
  border-radius: 5px;
}

button {
  background-color: #97BC62FF; /* Olive Green */
  color: #2C5F2D;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s
}

button:hover {
  background-color: #A67B5B; /* Warm Brown */
  color: #F1E4C3;
}

footer {
  flex: 0 0 30px;
  background-color: #8B5E3C; /* Darker Brown */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 0.9em;
}

footer a {
  text-decoration: none;
  color: #F1E4C3;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #97BC62FF; /* Olive Green */
}